<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diabetes</title>
</head>
<body style="background-color: green">
<form action="{{url_for('sugar')}}" method="post">
    <label>Pregnancies</label><br>
    <br>
    <input name="Pregnancies" type="number" id="first"><br>
    <br>
    <label>Glucose</label><br>
    <br>
    <input name="Glucose" type="number" id="second"><br>
    <br>
    <label>Blood Pressure</label><br>
    <br>
    <input name="BloodPressure" type="number" id="third"><br>
    <br>
    <label>Age</label><br>
    <br>
    <input name="Age" type="number" id="fourth"><br>
<br>
<button type="submit">submit</button>



</form>
<h3>{{prediction_text}}</h3>
</body>
</html>
